Description=pit worker
After=pit.service

[Service]
User=postgres
ExecStart=/usr/local/bin/pit-worker.sh
ExecReload=/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target
