Description=timeit worker
After=timeit.service

[Service]
User=postgres
ExecStart=/usr/local/bin/timeit-worker.sh
ExecReload=/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=multi-user.target
